@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;700&family=Montserrat:ital,wght@0,500;1,500;1,600&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    background: white;
    margin: 0;
    padding: 0;
    
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
nav{
    height: 80px;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
nav img{
    width: 158px;
    position: absolute;
    top: 17px;
    left: 12%;
    border-radius: 5px;
    
}
nav ul{
    float: right;
    margin-right: 25px;


}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
   
 
}
nav ul li a{
    position: relative;
    color: rgb(124, 124, 124);
    font-size: 19px;
    
}
nav ul li a:before{
   position: absolute;
   content: '';
   left: 0;
   bottom: 0;
   height: 3px;
   width: 100%;
   background: rgb(6, 23, 255);
   transform: scaleX(0);
   transform-origin: right;
   transition: transform .1s linear;

}
nav ul li a:hover:before{
    transform: scaleX(1);
   transform-origin: left;

}
label #btn,
label #cancel{
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 1118px) {
    nav img{
        left: 8%;
    }
    
}
@media (max-width: 944px) {
    nav img{
        left: 6%;
        top: 20px;
        width: 130px;
    }
    nav ul li a{
       font-size: 17px;

    }
    
}
@media (max-width: 860px) {
   label #btn{
    display: block;

   }
   ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: darkblue;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
   }
   nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;

   }
    nav ul li a{
       font-size: 20px;
       
    }
    #check:checked ~ ul{
       left: 0;
    }
    #check:checked ~ label #btn{
        display: none;
     }
     #check:checked ~ label #cancel{
        display: block;
     }

    
}
img{
    width: 1365px;
    position: absolute;
    
}
div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}
.img {
    width: 100px;
    height: 100px;
    background-color: grey;
}
.caption {
    display: block;
}
h1{
    padding: 0;
    margin: 0;
    font-size: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    color: black;

}
nav ul li button{
    background: rgb(49, 2, 255);
    border: none;
    outline: none;
    padding: 8px 14px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    border-radius: 3px;
    cursor: pointer;
   
}
.container{
    position: relative;
    width: 1200px;
    height: 300px;
}
.container{
    position: relative;
    width: 1200px;
    height: 300px;
    margin: 240px auto;
}
.container .box{
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background: black;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    float: left;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    
}
.container .box .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(1, 5, 255);
    transition: 0.5s;
    z-index: 1;
}
.container .box:hover .icon{
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.container .box .icon .fa-solid{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.5s;
    color: white;
}
.container .box:hover .icon .fa-solid{
    font-size: 40px;
}
.container .box .content{
    position: absolute;
    top: 100%;
    height: calc(100% - 100px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;

}
.container .box:hover .content{
    top: 100px;
    opacity: 1;

}
.container .box .content h3{
    margin: 0 0 10px;
    padding: 0;
    color: white;
    font-size: 24px;
}

.container .box .content  p{
    color: white;
    margin: 0;
    padding: 0;
}
