body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: montserrat;
  }
  
  .chatbot-title {
    text-align: center;
    color: #ff0000;
    font-family: montserrat;
    font-weight: 600;
  }
   .chatbot-container {
  max-width: 1323px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-family: montserrat;
  }
  
  #chat-container {
    height: 445px;
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    font-family: montserrat;
  }
  


.user-input-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-family: montserrat;
  }
  
  .user-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 50px;
  font-size: 20px;
  outline: none;
  font-family: montserrat;
  }
input{
  width: 150px;
  height: 23px;
}
  .button-container {
    display: flex;
  }
  .send-button{
    margin-left: 10px;
    font-family: montserrat;
    font-weight: 600;
  }
  .send-button,
  .clear-button {
    padding: 13px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #3708e0;
    font-size: 15px;
    cursor: pointer;
  }
  
  .clear-button {
    background-color: #dc3545;
    margin-left: 10px;
    font-weight: 560;
  }
  .clear-button:hover {
    background-color: #cf1225;
  }
  
  .send-button:hover,
  .clear-button:hover {
    opacity: 2;
  }
  .send-button:hover{
    background-color: blue;
  }
  
  .message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    word-wrap: break-word;
  }
  
  .user {
    background-color: #f3160e;
    color: #ffffff;
    font-size: 20px;
   
  }
  
  .chatbot {
    background-color: #3e5afa;
    color: #ffffff;
    font-size: 20px;
  
  }
  
  .chatbot-name {
   font-weight: bolder;

  }
  .user-input-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .user-input-container .chatbot-name {
    margin-right: 10px;
    font-size: 30px;
    color: blue;
  }
  
  .user-input-container input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-image: url("GLFAVICON.png");
    position: left;
    background-repeat: no-repeat;
    background-size: 43px;
    text-align: center;
    font-size: 15px;
  }
 img{
  width: 158px;
  position: absolute;
  top: 17px;
  left: 7%;
  border-radius: 5px;
 }